.game {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.game-row{
    display: flex;
    justify-content: center;
    column-gap: 5px;
}
.game-item {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #333;
}
.icon{
    width:100%;
    height: 100%;
}
.game-item>p{
    text-align: center;
    color:#FFF;
    font-size: 32px;
    font-weight: 700;
}
.startNewGame {
    display: none;
    width: 160px;
    height: 35px;
    background: #333;
    border: 2px solid red;
    color: #FFF;
    margin: 40px auto;
    cursor: pointer;
}
.countFlags{
    text-align: center;
    font-size: 32px;
    
}